.intro {
  font-family: monospace;
}

.scary {
  font-style: italic;
  color: red;
}

h1 {
  text-align: center;
  font-size: 130px;
  color: #e5ca42;
}

h2 {
  font-size: 35px;
}

h3 {
  text-align: center;
  font-size: 20px;
}

h3.space {
  line-height: 250px;
}

body {
  background-image: url("../img/newspaper-template.png");
  background-repeat: no-repeat;
  background-size: cover;
}
